/* Whole document */
body{
  font-size: 13pt;
  color: 424242;
  /* font-family: Helvetica; */
}

h1 {
  text-align: center;
  padding: 1rem 2rem;
  color: 424242;
}

h2 {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
  color: 424242;
}

h3 {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
  color: 424242;
}

h4 {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
  color: 424242;
}

ul li {
  padding-top:5px;
  padding-bottom:5px;
  color: 424242;
}

/* Container Size */
.main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

code.r{
  font-size: 15px;
}

/* Box Design */
.box{
    padding: 0.5em 1em;
    color: #5d627b;
    margin: 2em 0;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box p {
    margin: 0; 
    padding: 0;
}

/* Two Col Design */
.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}

/* Opt */
.update-right{
  text-align: right;
}


